.navbar-brand > img {
    width: 70px;
}

.hero {
    width: 100%;
    height: 100vh;
}

.img-fluid {
    width: 500px;
}

.flex-column > h1 {
    margin-top: 120px;
}

.hero .hero-img {
    text-align: right;
}

.tombol {
    margin-top: 20px;
}

.rounded-circle {
    width: 45px;
}

.hide-arrow::after{
    content: none;
}

.text-mid {
    margin-top: 170px;
}

.input-group > form > i {
    position: absolute;
    right: 13px;
    top: 6px;
    z-index: 1000;
}

.mt-custom1 {
    margin-top: 250px;
}

.mt-custom2 {
    margin-top: 100px;
}

.icon-category {
    font-size: 40px;
    color: black;
}

.btn-category {
    width: 90px;
    height: 90px;
    border-radius: 100%;
}

.link-category {
    text-decoration: none;
    color: black;
}

.hover {
    transition: transform .2s ease-in-out;
}

.hover:hover {
    transform: scale(1.1);
}

.bg-category {
    background-color: #D9D9D9;
}

.text-secondary {
    font-size: 12px;
}

.toast-top-center {
    margin-top: 10px;
    font-weight: 600;
}